.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: dense;
  grid-template-rows: repeat(auto-fill, 100px);
}
.grid > * {
  min-height: 100px;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wideTiny {
  grid-column: span 1;
  grid-row: span 1;
}

.wideSmall {
  grid-column: span 2;
  grid-row: span 1;
}

.wide {
  grid-column: span 4;
  grid-row: span 3;
}

.wideLarge {
  grid-column: span 8;
  grid-row: span 6;
}

.portraitTiny {
  grid-column: span 2;
  grid-row: span 2;
}

.portraitSmall {
  grid-column: span 3;
  grid-row: span 2;
}

.portrait {
  grid-column: span 3;
  grid-row: span 4;
}

.portraitLarge {
  grid-column: span 6;
  grid-row: span 8;
}

@media (max-width: 812px) {
  .grid {
    grid-template-columns: repeat(4, minmax(75px, 1fr));
    grid-gap: 4px;
    margin: 2px;
    grid-template-rows: repeat(auto-fill, 75px);
  }
  .grid > * {
    min-height: 75px;
  }

  .wideTiny {
    grid-column: span 1;
    grid-row: span 1;
  }

  .wideSmall {
    grid-column: span 2;
    grid-row: span 1;
  }

  .wide {
    grid-column: span 2;
    grid-row: span 2;
  }

  .wideLarge {
    grid-column: span 3;
    grid-row: span 2;
  }

  .portraitTiny {
    grid-column: span 1;
    grid-row: span 2;
  }

  .portraitSmall {
    grid-column: span 2;
    grid-row: span 3;
  }

  .portrait {
    grid-column: span 2;
    grid-row: span 4;
  }

  .portraitLarge {
    grid-column: span 4;
    grid-row: span 6;
  }
}
